root=true

[*]
indent_style=space
indent_size=4
tab_width=4

[*.cc]
indent_size=2
tab_width=8

[*.h]
indent_size=2
tab_width=8

[*.yml]
indent_size=2

[*.yaml]
indent_size=2

[Makefile]
indent_style=tab
